body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}


/* Left column: Journal Entries */
.journal-entries {
    flex: 1; /* This takes up more space */
    margin-right: 20px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

/* Right column: New Entry */
.new-entry {
    flex: 0.5; /* This takes up less space */
    padding-left: 20px;
}

h1, h2 {
    text-align: center;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #c123a1;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #7a1575;
}

.red-button {
    background-color: red;
    margin: 0;
    width: 100px;
    padding: 10px 20px;
}

.red-button:hover {
    background-color: #4d0000;

}


.search-button {
    background-color: #001aff;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #091160;
}

.entry {
    padding: 10px;
    width: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.entry p {
    flex: 1;
    margin: 0;
}

.entry button {
    margin-left: 10px;
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

.search-container input {
    flex: 1;
}

.search-container button {
    margin-left: 10px;
    width: auto;
    padding: 10px 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.timestamp {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

.sender {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

input[type="date"] {
    padding: 5px;
    font-size: 10px;
    margin-right: 10px;
}

.search-container {
    margin-bottom: 20px;
}

.leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  /* Example CSS for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.closeSendModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeSendModal:hover,
.closeSendModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
